{% extends "BaseAdmin.html.twig" %}
{% block body %}



<!-- Content page -->
<section>
    <div class="container">
        <div class="row ">
            <div class="col-md-8 col-lg-9">
                <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
                    <!-- Block4 -->

                    {{ form_start(form) }}

                    <div class="form-group">
                        <label>State</label>
                        {{ form_widget(form.state, { 'attr': {'class': 'form-control', 'type' : 'textarea'} }) }}

                    </div>

                    <button type="submit" class="btn btn-success" id="addb">
                        Save Changes
                    </button>
                </div>


                {{ form_end(form) }}




            </div>
        </div>


    </div>
    </div>

</section>
<script src="//cdn.ckeditor.com/4.11.3/full/ckeditor.js"></script><script>
    CKEDITOR.replace('editor1');
</script>
{% endblock %}