<!DOCTYPE html>
<html lang="en">
<head>
    <title>convForm - example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('BotAssets/jquery.convform.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('BotAssets/demo.css') }}">
    {% endblock %}
</head>
<body>
{% block bot_block %}
    <span class="close">&times;</span>

    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
                    <div class="card no-border">
                        <div id="chat" class="conv-form-wrapper">
                            <form action="" method="GET" class="hidden">
                                <select name="hello" data-callback="storeState" data-conv-question="Hi i am a bot made by SmartStart How Can i Help you ?">
                                    <option value="info">I want some informations about this website</option>
                                    <option value="free">Is this website free?</option>
                                </select>
                                <div data-conv-fork="hello">
                                    <div data-conv-case="info">
                                        <input type="text" data-conv-question="Okay Let's do this." data-no-answer="true">
                                        <input type="text" data-conv-question="So this website is made by SmartStart which is a group a student at Esprit." data-no-answer="true">
                                        <input type="text" data-conv-question="This website was made in their PIDEV project" data-no-answer="true">
                                        <input type="text" data-conv-question="The mission of this website is finding jobs for freelancers" data-no-answer="true">
                                        <input type="text" data-conv-question="So it's a win win" data-no-answer="true">
                                    </div>
                                    <div data-conv-case="free">
                                        <select name="thought" data-conv-question="Of course it's free would you like to signup ?">
                                            <option value="yes">Yes</option>
                                            <option value="no">No..</option>
                                        </select>
                                    </div>
                                </div>
                                <select name="programmer" data-callback="storeState" data-conv-question="So, are you a freelancer? (this question will fork the conversation based on your answer)">
                                    <option value="yes">Yes</option>
                                    <select name="hello" data-callback="storeState" data-conv-question="Okay So what is your problem ?">
                                        <option value="money">I want to make money</option>
                                        <option value="blogging">I want to start blogging</option>
                                    </select>
                                    <div data-conv-fork="programmer">
                                        <div data-conv-case="money">
                                            <input type="text" data-conv-question="Okay Let's do this." data-no-answer="true">
                                            <input type="text" data-conv-question="So if you want to make money it's easy just follow these 3 steps" data-no-answer="true">
                                            <input type="text" data-conv-question="First" data-no-answer="true">
                                            <input type="text" data-conv-question="The mission of this website is finding jobs for freelancers" data-no-answer="true">
                                            <input type="text" data-conv-question="So it's a win win" data-no-answer="true">
                                        </div>
                                        <div data-conv-case="blogging">
                                            <select name="thought" data-conv-question="Of course it's free would you like to signup ?">
                                                <option value="yes">Yes</option>
                                                <option value="no">No..</option>
                                            </select>
                                        </div>
                                    </div>

                                    <option value="no">No</option>
                                </select>
                                <div data-conv-fork="programmer">
                                    <div data-conv-case="yes">
                                        <input type="text" data-conv-question=" Cool." data-no-answer="true">
                                    </div>
                                    <div data-conv-case="no">
                                        <select name="thought" data-conv-question="So i guess you are a representative of a company? welcome!">
                                            <option value="yes">Yes</option>
                                            <option value="no">No..</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="text" data-conv-question="So type your e mail so that we can keep you updated :" data-no-answer="true">
                                <input data-conv-question="Type in your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" id="email" type="email" name="email" required placeholder="What's your e-mail?">
                                <input data-conv-question="Now tell me a secret (like a password)" type="password" data-minlength="6" id="senha" name="password" required placeholder="password">
                                <select data-conv-question="Selects also support callback functions. For example, try one of these:">
                                    <option value="google" data-callback="google">Google</option>
                                    <option value="bing" data-callback="bing">Bing</option>
                                </select>
                                <select name="callbackTest" data-conv-question="You can do some cool things with callback functions. Want to rollback to the 'programmer' question before?">
                                    <option value="yes" data-callback="rollback">Yes</option>
                                    <option value="no" data-callback="restore">No</option>
                                </select>
                                <select data-conv-question="This is it! If you like me, consider donating! If you need support, contact me. When the form gets to the end, the plugin submits it normally, like you had filled it." id="">
                                    <option value="">Awesome!</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock bot_block %}
{% block javascripts %}

{% endblock %}
</body>
</html>