<html>
<head>
<body>
<center>
    <h1>Ajouter Post</h1>

    {{ form_start(form) }}


    {{ form_end(form) }}
    <a href="{{ path('blog_homepage') }}"><button>Afficher Les voitures Voitures</button></a>
</center>
</body>
</head>
</html>